@import './colors';

.contest_container {
  min-height: 100vh;
}

.contest_image {
  width: 100vw;
  height: 75vw;
  overflow: hidden;
}

.contest_frame {
  background-color: @white;
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
}

.contest_title {
  padding: 10px 30px;
  text-align: center;
}

.contest_description {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.voting_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 250px;
}

.confirm_slider {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 10px;
  align-self: center;
  background-color: @light_grey;
  border-radius:3px;
  .handle {
    font-size: 0.9em;
    text-align: center;
    background-color: @white;
    color: @dark_cobalt_blue;
    cursor: pointer;
    outline: none;
    top: -3px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    line-height: 16px;
    box-shadow: 2px 2px @light_grey;
  }
  .handle.active {
    background-color: @tribela;
  }
}

.slider_label {
  text-align: center;
  margin-top: 10px;
}

.voting_option {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 30px;
  align-items: center;
  cursor: pointer;
  .option_image_container {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .vote_option_selected_image {
      height: 90px;
    }
    .vote_option_image {
      height: 48px;
    }
  }
}

.voting_option.voting_option_big {
  .option_image_container {
    height: 150px;
  }
  .vote_option_image {
    height: 72px;
  }
  .vote_option_selected_image {
    height: 135px;
  }
  p {
    font-size: 1.2em;
    text-align: center;
  }
}

.contest_option_text {
  margin-top: 10px;
}

.timer_section, .vote_count_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: center;
}

.vote_count_section {
  img {
    width: 100px;
  }
}

.timer_text, .vote_count_text {
  margin-top: 20px;
  font-size: 1.2em;
}

@media only screen and (min-width: 720px) {
  .contest_frame {
    width: 720px;
  }

  .contest_image {
    width: 720px;
    height: 180px;
    img {
      object-fit: cover;
    }
  }

  .contest_image:hover {
    height: 720px;
    img {
      object-fit: cover;
    }
  }
}

