@import './colors';

.contest_container {
  min-height: 100vh;

  .contest_image {
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    position: relative;
    background-size: 100vw 100vw;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: @white;
    padding: 10px 0px;
    .contest_image_overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, 0.9);
      z-index: 1;
    }
    div {
      z-index: 2;
    }
  }
  
  .contest_frame {
    background-color: @white;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
  }

  .contest_panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 0px;
    div {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin: 0px 0px 0px 5px;
        color: @light_grey;
      }
    }
    .contest_panel_selected {
      p {
        color: @dark_cobalt_blue
      }
    }
    .contest_panel_option_image, .contest_panel_vote_image {
      height: 30px;
    }
  }
  
  .contest_title {
    padding: 10px 30px;
    text-align: center;
  }
  
  .contest_description {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    font-size: 1.2em;
  }

  .contest_info {
    margin-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .contest_info_clock, .contest_info_views {
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-size: 11px;
      .creation_time_text {
        color: @light_grey;
      }
      p {
        margin: 0px 0px 0px 5px;
      }
    }
  }
  
  .voting_section {
    display: flex;
    flex-direction: row;
  }
  
  .confirm_slider {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 24px;
    align-self: center;
    background-color: @light_grey;
    border-radius:12px;
    .handle {
      font-size: 0.9em;
      text-align: center;
      background-color: @white;
      color: @dark_cobalt_blue;
      cursor: pointer;
      outline: none;
      top: 2px;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      line-height: 20px;
      box-shadow: 1px 1px 1px 1px @light_grey;
    }
    .handle.active {
      background-color: @tribela;
    }
  }
  
  .slider_label {
    text-align: center;
    margin-top: 10px;
  }
  
  .voting_option {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    width: 50%;
    cursor: pointer;
    .option_image_container {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      .vote_option_selected_image {
        height: 90px;
      }
      .vote_option_image {
        height: 48px;
      }
    }
  }
  
  .voting_option.voting_option_big {
    .vote_option_image {
      height: 64px;
    }
    .vote_option_selected_image {
      height: 120px;
      margin-bottom: 20px;
    }
    p {
      font-size: 1.2em;
      text-align: center;
    }
  }
  
  .contest_option_text {
    margin-top: 10px;
  }
  
  .timer_section, .vote_count_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: center;
  }
  
  .vote_count_section {
    img {
      width: 100px;
    }
  }
  
  .timer_text, .vote_count_text {
    margin-top: 20px;
    font-size: 1.2em;
  }

  .share_icon {
    margin-left: 5px;
  }
}

@media only screen and (min-width: 720px) {
  .contest_container{
    .contest_frame {
      width: 720px;
    }

    .contest_image {
      width: 720px;
      height: 720px;
      background-size: 720px 720px;
      img {
        object-fit: cover;
      }
    }

    // .contest_image:hover {
    //   height: auto;
    //   img {
    //     object-fit: cover;
    //   }
    // }
  }
}

